:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --boss-color: #c63d2f;
  --chief-color: #e25e3e;
  --lead-color: #ff9b50;
  --team-color: #ffbb5c;
  --top1-color: #c7ae6a;
  --top2-color: #000000;
  --top3-color: #d5c28f;
  --top4-color: #b99a45;
  --topbg-color: #1a1a1a;
  --top6-color: #e3d6b4;
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a8a8a8 !important;
  font-family: "Anta", sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.light-theme {
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: #ededeb !important;
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(75deg,
      hsl(0deg 0% 100%) 0%,
      hsl(344deg 0% 72%) 33%,
      hsl(344deg 0% 47%) 50%,
      hsl(344deg 0% 23%) 67%,
      hsl(0deg 0% 0%) 100%);
  object-fit: cover;
  transition: background-color 0.3s,
    color 0.3s;
}






.dark-theme button {
  color: white;
}

.light-theme button {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.769);
}

.light-theme button {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.769);
  transition: background 0.4s ease-in-out;
}

.light-theme button:hover {
  color: rgb(0, 0, 0);
  background-color: #d5c28f;
  border-color: var(--top5-color);

}

.dark-theme button {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.769);
  transition: background 0.4s ease-in-out;
}

.dark-theme button:hover {
  color: rgb(0, 0, 0);
  background-color: #d5c28f;
  border-color: var(--top5-color);
}